html, body {
    display: flex;
    
    flex-direction: column;
    align-items:stretch;
    height:auto;
    
}
.search_text {
    border-radius:   10em;
    width: 40%;
    padding: 1%;
    margin:4%;
    margin-left: auto;
    margin-right: auto;
    
}
.search {
    display: flex;
    flex-wrap: wrap;
}
.links{
    text-align: right;
   
    
    height: 4%;
}
#logo{
    display: block;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
.button {
    display: block;
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    position:absolute;
    padding: 5px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    
} 