.search_text {
    border-radius:   10em;
    width: 40%;
    padding: 1%;
    margin:4%;
    margin-left: auto;
    margin-right: auto;
    
}
.search {
    display: flex;
    flex-wrap: wrap;
}
.links{
    text-align: right;
   
    
    height: 4%;
}
#logo{
    display: block;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
.button {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}